@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Onest-Regular';
  src: url('/fonts/Onest-Regular.ttf');
}

@font-face {
  font-family: 'Onest-Black';
  src: url('/fonts/Onest-Bold.ttf');
}

@font-face {
  font-family: 'Onest-Bold';
  src: url('/fonts/Onest-SemiBold.ttf');
}

@font-face {
  font-family: 'Onest-Italic';
  src: url('/fonts/Onest-Italic.ttf');
}

@font-face {
  font-family: 'Onest-Light';
  src: url('/fonts/Onest-Light.ttf');
}

@font-face {
  font-family: 'Onest-Thin';
  src: url('/fonts/Onest-Thin.ttf');
}

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --radius: 0.5rem;

  --background-button: #ffffff;
  --hover-button: #e5e7eb;
  --text-button: #000000;
  --text-subtitle: #4b5563;
  --border-card: #e5e7eb;
  --shadow-card: #e4e4e7;
  --shadow-navbar: #a1a1aa;
  --a-hover-color: #1e88e5;
  --submit-hover-color: #1868ae;
  --background-date: #dbeafe;
  --background-experience: #ffffffb4;
  --border-experience: #f1f5f9;
  --date-color: #1e88e5;

  @supports (list-style-type: disclosure-closed) {
    ul > li::marker {
      content: url(/icons/dot-light.svg);
    }
  
    ul ul > li::marker {
      content: url(/icons/subdot-light.svg);
    }
  }
}

.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;
  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --ring: 0 0% 83.1%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;

  --background-button: #171717;
  --hover-button: #262626;
  --text-button: #ffffff;
  --text-subtitle: #9ca3af;
  --border-card: #262626;
  --shadow-card: #18181b;
  --shadow-navbar: #09090b;
  --a-hover-color: #7fff00;
  --submit-hover-color: #5ea913;
  --background-date: #0e63162c;
  --background-experience: #262626b1;
  --border-experience: #262626b1;
  --date-color: #7cc534;

  @supports (list-style-type: disclosure-closed) {
    ul > li::marker {
      content: url(/icons/dot-dark.svg);
    }
  
    ul ul > li::marker {
      content: url(/icons/subdot-dark.svg);
    }
  }
}

.markdown > * {
  all: revert;
}

.markdown {
  table {
    border-collapse: collapse;
  }

  .comment {
    color: var(--a-hover-color);
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  h1, h2, h3 {
    text-align: left;
    line-height: normal;
    margin-top: 30px;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid black;
  }

  p {
    line-height: 1.5;
  }

  
  /* ul ul > li {
    position: relative;
    left: -10px;
  }*/

  /* ol ul {
    margin-left: 1.5em;
  }

  ul ol {
    margin-left: 1.5em;
  }*/

  ol > li {
    counter-increment: list-counter;
  } 

  ol > li::marker {
    content: counter(list-counter) ". ";
    color: var(--a-hover-color);
    font-family: Onest-Bold;
  }

  ul ul {
    margin-left: 2em;
  }

  @supports (list-style-type: disclosure-closed) {
    ul ul {
      margin-left: 2em;
      list-style-type: circle;
    }
    ol ul {
      margin-left: 2em;
      list-style-type: circle;
    }
  }
  
  /* ol ol {
    margin-left: 1.5em;
  }
  
  ol ol > li {
    counter-increment: list-counter;
  }
  
  ol ol > li::marker {
    content: counter(list-counter, decimal) ". ";
    color: var(--a-hover-color);
    font-family: Onest-Bold;
  } */

  a {
    text-decoration: underline;
    font-family: Onest-Bold;
  }

  a:hover {
    color: var(--a-hover-color);
  }

  .task-list-item::marker{
    content: none;
  }

  pre {
    border-radius: 5px;
    padding: 5px;
  }

  .katex-display, .katex {
    overflow-x: scroll;
    height: auto;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (min-width: 768px) {

  .navbutton {
    transition: width .5s;
  }
  
  .navbutton:hover {
    width: 8rem;
  }

  .navlabel {
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
    white-space: nowrap;
    margin-left: 0.5rem;
    color: var(--a-hover-color);
    font-family: 'Onest-Bold';
  }

  .navbutton:hover .navlabel {
    width: 3.5rem; /* or whatever width fits your text */
  }
}

h1 {
  font-size: 30px;
  font-family: Onest-Black;
}

h2 {
  font-size: 25px;
  font-family: Onest-Black;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  font-family: Onest-Black;
  margin-top: 15px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card:hover > * {
  color: var(--a-hover-color);
}

a:hover {
  color: var(--a-hover-color);
}